{
    "database1": {
        "host": "",
        "user": "",
        "pass": "",
        "name": ""
    },
    "database2": {
        "host": "",
        "user": "",
        "pass": "",
        "name": ""
    }
}